<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pharmcacy1.Properties.Settings.mypharmacyConnectionString"
            connectionString="Data Source=SIDSYS-LAP-22\sqlexpress;Initial Catalog=mypharmacy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Pharmcacy1.Properties.Settings.mypharmacyConnectionString1"
            connectionString="Data Source=sidsys-lap-22\;Initial Catalog=mypharmacy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>